*.vcxproj
*.vcxproj.filters
*.sln
CMakeFiles/*
*.exe
*.tlog
*.log
*.exe.recipe
*.stamp
*.stamp.depend
*.opendb
*.db
*.db-wal
*.db-shm
*.ipch
*.suo
*.ini
*.ilk
*.obj
*.pdb
.vs/*
bin/*
bin/Debug/*
CMakeCache.txt
src/editor/Editor.dir/Debug/*
.vs/MYG/v16/ipch/AutoPCH/47091e188e1f3dd3/EDITOR.ipch
